<div class="ui equal width vertically padded grid container">
    <h2 class="ui icon header aligned center">
        <i class="circular stack overflow icon"></i>
        StackFlow <br /> <small>Built by - <a href="https://github.com/andy1729" target="blank">Ujjawal Anand</a></small> <br />
        <small><a href="https://github.com/andy1729/Stackflow-angular" target="blank">Github Repo</a></small> <br />
        <small><a href="https://andy1729.github.io/Stackflow-angular" target="blank">Live Preview</a> </small>
    </h2>
</div>